{% extends 'the_main/tampletes.html' %}
{% block tmp_section %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>Аренда</h1>
                <h1>Скоро все откроется</h1>
                <p class="lead">Оставте Ваши пожелания по форме ниже</p>
                <div>
                    <form action="" method="post" class="post-form">
                        {% csrf_token %}
                        <table>
                            {{form.as_p}}
                        </table>
                        <button type="submit" class="btn btn-lg btn-primary">отправить</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock tmp_section %}