<!DOCTYPE html>
{% load static %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>

<body>
    <!-- .header-->
    <header class="header">
        <div class="overlay">
            <nav class="navbar fixed-top navbar-expand-lg  ">
                <a class="navbar-brand" href="#">WENZEL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-4">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'the_main-home' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'the_main-site' %}">site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'the_main-apartment' %}">Квартиры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'the_main-rental'%}">Аренда</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'the_main-contacti' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'add_blog' %}">admin</a>
                        </li>

                        <div class="navbar-nav">
                            <a href="{% url 'reg' %}" class="btn btn-outline-secondary mr-2">Регистрация</a>
                            <a href="" class="btn btn-outline-secondary">Войти</a>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- .header-->

    {% if massages %}
    {% for mess in messages %}
    <div class="alert alert-success">
        {{ mess }}
    </div>
    {% endfor %}
    {% endif %}



    {% block tmp_section %}
    {% endblock tmp_section %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>