{% extends 'the_main/tampletes.html' %}
{% load crispy_forms_tags %}
{% block tmp_section %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">

                <h1>Регистрация пользователя</h1>
                <p class="lead">заполните все поля по форме ниже</p>
                <div>
                    <form action="" method="post" class="post-form">
                        {% csrf_token %}

                        {{form| crispy}}

                        <button type="submit" class="btn btn-lg btn-primary">отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock tmp_section %}
